/* display inline-block - დაშორების განულება */
.container-block {
    width: 1160px;
    margin:0 auto;
}
.block1 {
    width: 360px;
    height: 350px;
    background-color: yellow;
    display: inline-block;
}
.block2 {
    width: 360px;
    height: 350px;
    background-color:green;
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
}
.block3 {
    width: 360px;
    height: 350px;
    background-color: pink;
    display: inline-block;
}


/* display flex */
.block-wraper {
    width: 1170px;
    margin: 0 auto;
    background-color: grey;
}
.text-block {
    width: 771px;
    background-color: lightblue;
    margin: 0 auto;
    text-align: center;
}
.flex-child-block {
    width: 371px;
    height: 374px;
    background-color:aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row-flex1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.size {
    margin-top: 25px;
}
.blue-box {
    width: 88px;
    height: 88px;
    background-color: #325DFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-block-child{
    width: 251px;
    text-align: center;
}